body {
  background-color: purple;
}

h2 {
  color: grey;
}

h1:hover {
  color: black;
}

p:hover {
  color: black;
}


h1 {
  color: black;
}

h3 {
  color: grey;
}

p {
  color: grey;
}

img:hover {
  border-radius: 150%; ;
}

.circular {
  border-radius: 100%
}

 hr
  {border-style: none;
   border-top-style; dotted;
   border-color: grey;
   border-width; 2.5px;
 }
