body {
  background-color: pink ;
}

h2 {
  color: grey;
}

h1 {
  color: grey;
}

h3 {
  color: grey;
}

p {
  color: purple;
}

 hr
  {border-style: none;
   border-top-style; dotted;
   border-color: grey;
   border-width; 2.5px;
 }
